{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center mb-4">Gestion des produits</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">

            <thead class="thead-dark">

                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a class="btn btn-grad btn-sm" href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
                        <a class="btn btn-grad btn-sm" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-grad" href="{{ path('app_product_new') }}">Ajouter un produit</a>
</main>
{% endblock %}
