{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block body %}
<main class="container">
    <div class="card">
       <div class="card-header"> <h1 class="text-center mb-4">Détails du produit</h1></div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ product.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Titre</th>
                        <td>{{ product.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ product.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Prix</th>
                        <td>{{ product.price }} €</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantité</th>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_product_index') }}" class="btn btn-grad mr-2">Retour à la liste</a>
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-grad">Modifier</a>
        </div>
    </div>
</main>
{% endblock %}
